a:hover {
    font-size: 23px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.periodictable {
    justify-content: center;
    justify-items: center;
    text-align: center;
   margin-left: 50px;
    
}

/* .tabl {
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    justify-content: center;
    margin-top: 0%;} */

.hydro {
    background-color: yellow;
    margin-left: 0px;
    padding: 0px;
    width: 75px;
    height: 80px;
    position: absolute;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
}

.numb {
    font-size: 15px;
    color: black;
}

.name {
    color: rgb(197, 0, 0);
}

.khitro {
    background-color: rgb(252, 82, 82);
    margin-right: 3px;
    margin-bottom: 20px;
    margin-left: 1295px;
    margin-top: 5px;
    padding: 0px;
    width: 75px;
    position: absolute;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;

}

.num {
    color: white;
    font-size: 15px;
}

.nam {
    color: yellow;
}

.kiem {
    margin-top: 85px;
    margin-left: 0px;
    margin-right: 95%;
    width: 75px;
    padding: 0px;
    display: block;
    position: absolute;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
    background-color: rgb(0, 20, 74);
}
.kiem >a {
    color: rgb(204, 204, 117);
}
.sohieu {
    color: aliceblue;
}
.ten {
    color: rgb(237, 255, 150);
}

.kiemtho {
    background-color: rgb(139, 200, 47);
    margin-left: 77px;
    margin-top: -7px;
    padding: 0px;
    width: 75px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;

}
.so {
    color: brown;
}
.tennto {
    color: rgb(84, 0, 0);
}



.IIIB {
    background-color: rgb(0, 166, 237);
    width: 75px;
    margin-left: 154px;
    margin-top: -329px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;

}
.number {
    color: rgb(80, 10, 79);
}
.eleName {
    color: rgb(255, 247, 26);
    font-size: 15px;
}

.IVB {
    background-color: rgb(0, 166, 237);
    width: 75px;
    margin-left: 230px;
    margin-top: -330px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}

.VB {
    background-color: rgb(0, 166, 237);
    width: 75px;
    margin-left: 306px;
    margin-top: -332px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}
.VIB {
    background-color: rgb(0, 166, 237);
    width: 75px;
    margin-left: 382px;
    margin-top: -331px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}
.molyb {
    font-size: 13px;
    color: rgb(255, 247, 26);
}
.VIIB {
    background-color: rgb(0, 166, 237);
    width: 75px;
    margin-left: 458px;
    margin-top: -332px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}
.VIIIB {
    background-color: rgb(0, 166, 237);
    width: 75px;
    margin-left: 534px;
    margin-top: -330px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}
.IX {
    background-color: rgb(0, 166, 237);
    width: 75px;
    margin-left: 610px;
    margin-top: -331px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}
.X{
    background-color: rgb(0, 166, 237);
    width: 75px;
    margin-left: 686px;
    margin-top: -331px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}
.IB {
    background-color: rgb(0, 166, 237);
    width: 75px;
    margin-left: 762px;
    margin-top: -332px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}
.IIB {
    background-color: rgb(0, 166, 237);
    width: 75px;
    margin-left: 838px;
    margin-top: -332px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}

.IIIA {
    width: 75px;
    margin-left: 914px;
    margin-top: -498px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}
.KL {
    background-color: rgb(233, 176, 192);
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}
.kimloai {
    color: rgb(19, 0, 161);
}
.tenkimloai {
    color: rgb(68, 9, 9);
}
/* background-color: yellow;
    margin-left: 0px;
    padding: 0px;
    width: 75px;
    height: 80px;
    position: absolute;
    text-align: center;
    line-height: 25px;
    border-radius: 5px; */
.nonmetal {
    background-color: yellow;
    border-radius: 5px;
    margin-bottom: 2px;
}
.IVA {
    width: 75px;
    margin-left: 990px;
    margin-top: -498px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}
.VA {
    width: 75px;
    margin-left: 1066px;
    margin-top: -498px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}
.Germanium {
    color: rgb(68, 9, 9);
    font-size: 15px;
}
.liver {
    font-size: 14px;
}

.VIA {
    width: 75px;
    margin-left: 1142px;
    margin-top: -499px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}
.VIIA {
    width: 75px;
    margin-left: 1218px;
    margin-top: -499px;
    padding: 0px;
    text-align: center;
    line-height: 27px;
    border-radius: 5px;
}